body {
  margin: 0;
  padding: 0;
  background-color: #f5f7f6
  ;
}
.container{
    font-family: 'Gotu', sans-serif;
}
.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #88a9b3;
    padding: 10px;
    position: relative;
  }
  
  .navbar-home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
  }
  
  .home-icon {
    text-decoration: none;
    display: inline-block;
  }
  
.form{
    padding-top: 50px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
fieldset{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

legend{
    color: #322203;
    text-align: center;
    font-weight: bold;
}

label{
    display: inline-block;
    margin-bottom: 10px;
    width: 100px;
    text-align: left;
    padding-left: 10px;
}
.form input{
    border-radius: 15px;
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    height: 30px;
    margin: 0.5rem;
  
}
.form button {
    border-radius: 20px;
    padding: 0.5em 1em;
    border: none;
    color: #000;
    cursor: pointer;
    display: block; 
    margin: 0.5rem;
  
    width: 92.5%; 
  }

