.service-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px; /* Espacio entre los botones */
    margin-top: 20px;
  }
  
  .service-button {
    padding: 15px 30px; /* Aumenta el tamaño del botón */
    font-size: 16px; /* Aumenta el tamaño de la fuente */
    width: 200px; /* Ajusta el ancho de los botones */
    height: 60px; /* Ajusta la altura de los botones */
    border-radius: 8px;
    background-color: #f5f7f6
    ; /* Fondo verde */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
  }
  
  .service-button.selected {
    background-color: #88a9b3; /* Cambia el color cuando el botón está seleccionado */
  }
  
  .service-button:hover {
    background-color: #88a9b3; /* Cambia el color cuando el mouse está sobre el botón */
  }
  